@import "../utilidades/variables";
@import "../utilidades/mixin";

header{
    nav{
        .container-fluid{
            height: 18hv;
            font-size: $fuente-pequena;
            font-weight: bolder;
            padding: $espaciado-estandar $espaciado-doble 0 $espaciado-doble;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .logo{
                height: 14vh;
                padding: $espaciado-estandar 0;
            }
            ul{
                li{
                    text-align: right;
                };
            }
        }
    }
}