//paleta de colores
$color-principal: #000b24;
$color-fondo: #091d33;
$color-secundario:  #205073;
$color-texto: whitesmoke;
$color-texto-destaque: #70a7cd;

//tamaño fuentes
$fuente-estandar: 16px;
$fuente-secundaria: 18px;
$fuente-principal: 20px;
$fuente-pequena: 14px;

//espaciados (para margin y padding)
$espaciado-estandar: 2rem;
$espaciado-doble: 4rem;
